
<section>
    <div class="col text-block">
        <div class="page-padding">
            <div class="title">
                <h1>Inputs/Downloads </h1>
            </div>
            <div class="row">
                <div class="col-12 bg-light p-3 m-2 ">
                    <div class="d-flex justify-content-around align-items-center ">
                        <div class=" col-1 download-elem text-center disappear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" viewBox="0 0 16 21" fill="none">
                                <g clip-path="url(#clip0_460_114)">
                                    <path d="M0.505569 0C3.81902 0 7.13211 0 10.4456 0C10.4427 0.0476476 10.4369 0.0952953 10.4369 0.142943C10.4366 1.68694 10.4362 3.23128 10.4369 4.77528C10.4369 5.02893 10.433 5.28293 10.447 5.53589C10.4635 5.83508 10.7815 6.10696 11.072 6.10766C12.6658 6.11221 14.2599 6.11046 15.8537 6.11081C15.8975 6.11081 15.9412 6.11081 15.9914 6.11081C15.9943 6.1553 15.9982 6.18929 15.9982 6.22327C15.9982 10.8994 15.9982 15.5759 15.9989 20.252C15.9989 20.6857 15.6533 20.9996 15.2363 20.9993C10.6736 20.994 6.11129 20.9961 1.54862 20.9961C1.26213 20.9961 0.975282 20.9877 0.689151 20.9982C0.355332 21.0109 0.000358559 20.698 0.000358559 20.3168C0.00215136 16.1175 0.00107568 11.9179 0.00107568 7.71857C0.00143424 5.40065 0.00250992 3.08238 0 0.763764C0 0.521672 0.0588038 0.309009 0.25888 0.153804C0.334895 0.0949449 0.4231 0.0508008 0.505569 0ZM7.35513 7.74414C7.30278 7.74414 7.23967 7.73994 7.17764 7.74484C6.94996 7.76271 6.77534 7.85731 6.66526 8.06401C6.56307 8.25566 6.53726 8.46271 6.52758 8.66907C6.51718 8.88909 6.53152 9.11191 6.55232 9.33158C6.57849 9.60836 6.60467 9.88724 6.66239 10.1588C6.75347 10.5883 6.88004 11.0108 6.97076 11.4407C7.00159 11.5857 7.01414 11.7609 6.95928 11.8923C6.42001 13.1833 5.74305 14.4085 5.04852 15.6246C4.99939 15.7108 4.92804 15.799 4.84414 15.8491C4.61143 15.9886 4.3651 16.1056 4.12702 16.2363C3.73368 16.4521 3.36257 16.6984 3.02409 16.992C2.71752 17.2576 2.43211 17.5368 2.27793 17.9166C2.22414 18.0486 2.16677 18.1832 2.21912 18.3331C2.29012 18.5377 2.68812 18.7774 2.94808 18.7956C3.35361 18.824 3.67272 18.6442 3.95455 18.4011C4.36259 18.049 4.69713 17.6307 4.99187 17.184C5.22134 16.8361 5.44257 16.4833 5.66488 16.1308C5.72691 16.0327 5.80078 15.962 5.92053 15.9301C6.30455 15.8288 6.68534 15.7171 7.06864 15.6137C7.4021 15.524 7.7352 15.4298 8.07261 15.3566C8.552 15.2529 9.03391 15.1597 9.5176 15.0763C9.67322 15.0496 9.86433 15.0146 9.99234 15.0763C10.5814 15.3601 11.1785 15.6172 11.8131 15.7878C12.2075 15.894 12.6055 15.9746 13.0168 15.9553C13.2083 15.9462 13.403 15.9157 13.5457 15.7742C13.8271 15.4946 13.811 15.1421 13.7522 14.797C13.7124 14.5627 13.5019 14.4625 13.295 14.3808C12.9569 14.2473 12.5976 14.2165 12.2401 14.206C11.8931 14.1958 11.5445 14.2113 11.1971 14.2295C10.9658 14.2414 10.736 14.2792 10.5054 14.302C10.3516 14.3171 10.2107 14.3199 10.0583 14.2347C9.58967 13.9734 9.20673 13.6199 8.87291 13.2166C8.46595 12.7251 8.14396 12.181 7.92165 11.585C7.88616 11.4901 7.87325 11.3766 7.88652 11.2764C7.93528 10.9127 8.00484 10.5515 8.05647 10.1882C8.09197 9.93734 8.09591 9.68158 8.14073 9.43283C8.20133 9.0979 8.21818 8.76541 8.1644 8.43013C8.10524 8.05771 7.865 7.67653 7.35656 7.74344L7.35513 7.74414Z" fill="#3C3C3C"/>
                                    <path d="M12.8633 0C13.0616 0.215816 13.2598 0.431281 13.4578 0.647798C13.7471 0.964164 14.0351 1.28228 14.3255 1.59795C14.5155 1.80465 14.7095 2.00786 14.8999 2.21421C15.1132 2.44615 15.3234 2.68088 15.5371 2.91246C15.6622 3.04805 15.7963 3.17593 15.9171 3.31501C15.9587 3.36301 15.9935 3.43343 15.9953 3.49474C16.0032 3.79535 15.9989 4.09595 15.9989 4.4039C15.953 4.40636 15.9182 4.40951 15.8838 4.40951C14.5636 4.40951 13.2434 4.40951 11.9231 4.40951C11.8966 4.40951 11.8697 4.40636 11.8432 4.40495C11.8364 4.3976 11.8292 4.39059 11.8224 4.38323C11.8209 3.946 11.8184 3.50876 11.8181 3.07117C11.817 2.04745 11.8166 1.02407 11.8163 0.00035035C12.1655 0.00035035 12.5148 0.00035035 12.864 0.00035035L12.8633 0Z" fill="#3C3C3C"/>
                                    <path d="M7.35555 7.74409C7.86398 7.67683 8.10422 8.05836 8.16338 8.43078C8.2168 8.76607 8.19995 9.09855 8.13971 9.43348C8.09489 9.68223 8.09095 9.93799 8.05545 10.1888C8.00382 10.5522 7.93426 10.9134 7.8855 11.277C7.87223 11.3772 7.88514 11.4907 7.92063 11.5857C8.14294 12.1813 8.46493 12.7257 8.87189 13.2173C9.20571 13.6205 9.58865 13.9737 10.0573 14.2354C10.2097 14.3205 10.3506 14.3177 10.5044 14.3027C10.7353 14.2799 10.9648 14.242 11.1961 14.2301C11.5432 14.2123 11.8917 14.1965 12.2391 14.2067C12.5966 14.2172 12.9559 14.2476 13.294 14.3815C13.5009 14.4631 13.7114 14.5633 13.7512 14.7977C13.81 15.1428 13.8265 15.4952 13.5446 15.7748C13.4019 15.9164 13.2072 15.9468 13.0158 15.956C12.6045 15.9756 12.2069 15.8946 11.8121 15.7885C11.1774 15.6179 10.5804 15.3607 9.99132 15.0769C9.86331 15.0153 9.6722 15.0503 9.51658 15.0769C9.03289 15.16 8.55098 15.2532 8.07159 15.3572C7.73418 15.4304 7.40108 15.5247 7.06762 15.6144C6.68432 15.7177 6.30317 15.8295 5.91951 15.9307C5.79976 15.9623 5.72553 16.033 5.66386 16.1315C5.44156 16.4839 5.22032 16.8367 4.99085 17.1846C4.69611 17.6313 4.36193 18.0496 3.95353 18.4018C3.67171 18.6449 3.35259 18.8246 2.94706 18.7962C2.6871 18.778 2.28946 18.5384 2.21811 18.3338C2.16576 18.1838 2.22348 18.0493 2.27691 17.9172C2.43145 17.5374 2.71686 17.2586 3.02307 16.9926C3.36191 16.699 3.73302 16.4528 4.126 16.2369C4.36408 16.1063 4.61041 15.9889 4.84312 15.8498C4.92738 15.7993 4.99838 15.7114 5.0475 15.6252C5.74203 14.4095 6.41863 13.184 6.95826 11.8929C7.01312 11.7616 7.00057 11.5864 6.96974 11.4413C6.87902 11.0118 6.75245 10.5893 6.66137 10.1594C6.604 9.88789 6.57747 9.60901 6.5513 9.33223C6.5305 9.11221 6.51616 8.88974 6.52656 8.66972C6.53624 8.46336 6.56205 8.25631 6.66424 8.06467C6.77468 7.85796 6.94894 7.76336 7.17662 7.7455C7.23901 7.74059 7.30176 7.7448 7.35411 7.7448L7.35555 7.74409ZM7.44841 12.5929C7.0773 13.5578 6.60257 14.4263 6.10668 15.3225C7.09344 14.9708 8.0784 14.7255 9.11751 14.5223C8.40792 13.9919 7.88836 13.3465 7.44841 12.5929ZM7.50399 10.3616C7.53733 10.3262 7.55921 10.3111 7.56996 10.2904C7.69008 10.0599 7.77183 9.81502 7.78295 9.55821C7.79872 9.18018 7.81163 8.799 7.67932 8.43323C7.6449 8.33794 7.60654 8.23984 7.54773 8.15891C7.48427 8.07132 7.41363 8.08954 7.38315 8.19149C7.3663 8.2479 7.35626 8.30816 7.3559 8.36702C7.35483 8.76432 7.34013 9.16266 7.36415 9.55891C7.37993 9.81957 7.45236 10.0767 7.50399 10.3619V10.3616ZM11.3711 14.8296C11.3689 14.8481 11.3664 14.8667 11.3642 14.8853C11.4657 14.9273 11.5665 14.9708 11.669 15.0111C12.1427 15.1971 12.6145 15.3971 13.1441 15.3274C13.2327 15.3159 13.3697 15.2801 13.389 15.2241C13.4249 15.12 13.3073 15.0591 13.2169 15.0132C12.9387 14.872 12.6328 14.846 12.3288 14.8331C12.0104 14.8194 11.6905 14.8299 11.3714 14.8299L11.3711 14.8296ZM4.51575 16.4577C3.89939 16.9755 3.30884 17.5133 2.93594 18.2374C3.65772 17.8125 4.07257 17.1219 4.51575 16.4577Z" fill="#FEFEFE"/>
                                    <path d="M7.4483 12.593C7.88825 13.3466 8.4078 13.992 9.11739 14.5224C8.07829 14.7256 7.09332 14.9708 6.10657 15.3226C6.60281 14.4264 7.07719 13.5579 7.4483 12.593Z" fill="#3C3C3C"/>
                                    <path d="M7.50396 10.3612C7.45232 10.0764 7.37954 9.81889 7.36412 9.55823C7.34045 9.16198 7.35479 8.76363 7.35587 8.36634C7.35587 8.30783 7.36627 8.24722 7.38312 8.19081C7.4136 8.08886 7.48388 8.07064 7.5477 8.15823C7.6065 8.23951 7.64487 8.33761 7.67929 8.43255C7.8116 8.79832 7.79869 9.1795 7.78292 9.55753C7.77216 9.81433 7.69005 10.0596 7.56993 10.2898C7.55917 10.3104 7.5373 10.3255 7.50396 10.3609V10.3612Z" fill="#3C3C3C"/>
                                    <path d="M11.3709 14.8297C11.6901 14.8297 12.0099 14.8192 12.3283 14.8328C12.6324 14.8458 12.9382 14.8721 13.2164 15.0129C13.3072 15.0588 13.4248 15.1198 13.3886 15.2238C13.3692 15.2799 13.2322 15.3156 13.1437 15.3272C12.6141 15.3969 12.1422 15.1968 11.6685 15.0108C11.5664 14.9705 11.4652 14.9271 11.3638 14.885C11.3659 14.8665 11.3684 14.8479 11.3706 14.8293L11.3709 14.8297Z" fill="#3C3C3C"/>
                                    <path d="M4.51536 16.4574C4.07254 17.1217 3.65733 17.8122 2.93555 18.2372C3.30845 17.513 3.89864 16.9749 4.51536 16.4574Z" fill="#3C3C3C"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_460_114">
                                        <rect width="16" height="21" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>

                        <div class="col-sm-2 download-elem ">
                            <span>Download a PDF</span>
                        </div>
                        <div class="col download-elem text-center disappear ">
                            <span class="font-light">Sicherheitsdaten</span>
                        </div>

                        <div class="col-sm-2 download-elem  text-end disappear">
                            <span class="font-light">PDF-129 KB(DE)</span>
                        </div>

                        <div class="col-sm-2 download-elem appear">
                            <span class="font-light">Sicherheitsdaten PDF-129 KB(DE)</span>
                        </div>

                        <div class="col-sm-1 download-elem text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M5 20H19V18H5M19 9H15V3H9V9H5L12 16L19 9Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="col-sm-1 download-elem text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19 13C19.7 13 20.37 13.13 21 13.35V9L15 3H5C3.89 3 3 3.89 3 5V19C3 20.11 3.9 21 5 21H13.35C13.13 20.37 13 19.7 13 19C13 15.69 15.69 13 19 13ZM14 4.5L19.5 10H14V4.5ZM23 18V20H20V23H18V20H15V18H18V15H20V18H23Z" fill="black"/>
                            </svg>
                        </div>
                    </div>
                </div>


                <div class="col-12 bg-light p-3 m-2 ">
                    <div class="d-flex justify-content-around align-items-center ">

                        <div class=" col-1 download-elem text-center disappear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" viewBox="0 0 16 21" fill="none">
                                <g clip-path="url(#clip0_460_114)">
                                    <path d="M0.505569 0C3.81902 0 7.13211 0 10.4456 0C10.4427 0.0476476 10.4369 0.0952953 10.4369 0.142943C10.4366 1.68694 10.4362 3.23128 10.4369 4.77528C10.4369 5.02893 10.433 5.28293 10.447 5.53589C10.4635 5.83508 10.7815 6.10696 11.072 6.10766C12.6658 6.11221 14.2599 6.11046 15.8537 6.11081C15.8975 6.11081 15.9412 6.11081 15.9914 6.11081C15.9943 6.1553 15.9982 6.18929 15.9982 6.22327C15.9982 10.8994 15.9982 15.5759 15.9989 20.252C15.9989 20.6857 15.6533 20.9996 15.2363 20.9993C10.6736 20.994 6.11129 20.9961 1.54862 20.9961C1.26213 20.9961 0.975282 20.9877 0.689151 20.9982C0.355332 21.0109 0.000358559 20.698 0.000358559 20.3168C0.00215136 16.1175 0.00107568 11.9179 0.00107568 7.71857C0.00143424 5.40065 0.00250992 3.08238 0 0.763764C0 0.521672 0.0588038 0.309009 0.25888 0.153804C0.334895 0.0949449 0.4231 0.0508008 0.505569 0ZM7.35513 7.74414C7.30278 7.74414 7.23967 7.73994 7.17764 7.74484C6.94996 7.76271 6.77534 7.85731 6.66526 8.06401C6.56307 8.25566 6.53726 8.46271 6.52758 8.66907C6.51718 8.88909 6.53152 9.11191 6.55232 9.33158C6.57849 9.60836 6.60467 9.88724 6.66239 10.1588C6.75347 10.5883 6.88004 11.0108 6.97076 11.4407C7.00159 11.5857 7.01414 11.7609 6.95928 11.8923C6.42001 13.1833 5.74305 14.4085 5.04852 15.6246C4.99939 15.7108 4.92804 15.799 4.84414 15.8491C4.61143 15.9886 4.3651 16.1056 4.12702 16.2363C3.73368 16.4521 3.36257 16.6984 3.02409 16.992C2.71752 17.2576 2.43211 17.5368 2.27793 17.9166C2.22414 18.0486 2.16677 18.1832 2.21912 18.3331C2.29012 18.5377 2.68812 18.7774 2.94808 18.7956C3.35361 18.824 3.67272 18.6442 3.95455 18.4011C4.36259 18.049 4.69713 17.6307 4.99187 17.184C5.22134 16.8361 5.44257 16.4833 5.66488 16.1308C5.72691 16.0327 5.80078 15.962 5.92053 15.9301C6.30455 15.8288 6.68534 15.7171 7.06864 15.6137C7.4021 15.524 7.7352 15.4298 8.07261 15.3566C8.552 15.2529 9.03391 15.1597 9.5176 15.0763C9.67322 15.0496 9.86433 15.0146 9.99234 15.0763C10.5814 15.3601 11.1785 15.6172 11.8131 15.7878C12.2075 15.894 12.6055 15.9746 13.0168 15.9553C13.2083 15.9462 13.403 15.9157 13.5457 15.7742C13.8271 15.4946 13.811 15.1421 13.7522 14.797C13.7124 14.5627 13.5019 14.4625 13.295 14.3808C12.9569 14.2473 12.5976 14.2165 12.2401 14.206C11.8931 14.1958 11.5445 14.2113 11.1971 14.2295C10.9658 14.2414 10.736 14.2792 10.5054 14.302C10.3516 14.3171 10.2107 14.3199 10.0583 14.2347C9.58967 13.9734 9.20673 13.6199 8.87291 13.2166C8.46595 12.7251 8.14396 12.181 7.92165 11.585C7.88616 11.4901 7.87325 11.3766 7.88652 11.2764C7.93528 10.9127 8.00484 10.5515 8.05647 10.1882C8.09197 9.93734 8.09591 9.68158 8.14073 9.43283C8.20133 9.0979 8.21818 8.76541 8.1644 8.43013C8.10524 8.05771 7.865 7.67653 7.35656 7.74344L7.35513 7.74414Z" fill="#3C3C3C"/>
                                    <path d="M12.8633 0C13.0616 0.215816 13.2598 0.431281 13.4578 0.647798C13.7471 0.964164 14.0351 1.28228 14.3255 1.59795C14.5155 1.80465 14.7095 2.00786 14.8999 2.21421C15.1132 2.44615 15.3234 2.68088 15.5371 2.91246C15.6622 3.04805 15.7963 3.17593 15.9171 3.31501C15.9587 3.36301 15.9935 3.43343 15.9953 3.49474C16.0032 3.79535 15.9989 4.09595 15.9989 4.4039C15.953 4.40636 15.9182 4.40951 15.8838 4.40951C14.5636 4.40951 13.2434 4.40951 11.9231 4.40951C11.8966 4.40951 11.8697 4.40636 11.8432 4.40495C11.8364 4.3976 11.8292 4.39059 11.8224 4.38323C11.8209 3.946 11.8184 3.50876 11.8181 3.07117C11.817 2.04745 11.8166 1.02407 11.8163 0.00035035C12.1655 0.00035035 12.5148 0.00035035 12.864 0.00035035L12.8633 0Z" fill="#3C3C3C"/>
                                    <path d="M7.35555 7.74409C7.86398 7.67683 8.10422 8.05836 8.16338 8.43078C8.2168 8.76607 8.19995 9.09855 8.13971 9.43348C8.09489 9.68223 8.09095 9.93799 8.05545 10.1888C8.00382 10.5522 7.93426 10.9134 7.8855 11.277C7.87223 11.3772 7.88514 11.4907 7.92063 11.5857C8.14294 12.1813 8.46493 12.7257 8.87189 13.2173C9.20571 13.6205 9.58865 13.9737 10.0573 14.2354C10.2097 14.3205 10.3506 14.3177 10.5044 14.3027C10.7353 14.2799 10.9648 14.242 11.1961 14.2301C11.5432 14.2123 11.8917 14.1965 12.2391 14.2067C12.5966 14.2172 12.9559 14.2476 13.294 14.3815C13.5009 14.4631 13.7114 14.5633 13.7512 14.7977C13.81 15.1428 13.8265 15.4952 13.5446 15.7748C13.4019 15.9164 13.2072 15.9468 13.0158 15.956C12.6045 15.9756 12.2069 15.8946 11.8121 15.7885C11.1774 15.6179 10.5804 15.3607 9.99132 15.0769C9.86331 15.0153 9.6722 15.0503 9.51658 15.0769C9.03289 15.16 8.55098 15.2532 8.07159 15.3572C7.73418 15.4304 7.40108 15.5247 7.06762 15.6144C6.68432 15.7177 6.30317 15.8295 5.91951 15.9307C5.79976 15.9623 5.72553 16.033 5.66386 16.1315C5.44156 16.4839 5.22032 16.8367 4.99085 17.1846C4.69611 17.6313 4.36193 18.0496 3.95353 18.4018C3.67171 18.6449 3.35259 18.8246 2.94706 18.7962C2.6871 18.778 2.28946 18.5384 2.21811 18.3338C2.16576 18.1838 2.22348 18.0493 2.27691 17.9172C2.43145 17.5374 2.71686 17.2586 3.02307 16.9926C3.36191 16.699 3.73302 16.4528 4.126 16.2369C4.36408 16.1063 4.61041 15.9889 4.84312 15.8498C4.92738 15.7993 4.99838 15.7114 5.0475 15.6252C5.74203 14.4095 6.41863 13.184 6.95826 11.8929C7.01312 11.7616 7.00057 11.5864 6.96974 11.4413C6.87902 11.0118 6.75245 10.5893 6.66137 10.1594C6.604 9.88789 6.57747 9.60901 6.5513 9.33223C6.5305 9.11221 6.51616 8.88974 6.52656 8.66972C6.53624 8.46336 6.56205 8.25631 6.66424 8.06467C6.77468 7.85796 6.94894 7.76336 7.17662 7.7455C7.23901 7.74059 7.30176 7.7448 7.35411 7.7448L7.35555 7.74409ZM7.44841 12.5929C7.0773 13.5578 6.60257 14.4263 6.10668 15.3225C7.09344 14.9708 8.0784 14.7255 9.11751 14.5223C8.40792 13.9919 7.88836 13.3465 7.44841 12.5929ZM7.50399 10.3616C7.53733 10.3262 7.55921 10.3111 7.56996 10.2904C7.69008 10.0599 7.77183 9.81502 7.78295 9.55821C7.79872 9.18018 7.81163 8.799 7.67932 8.43323C7.6449 8.33794 7.60654 8.23984 7.54773 8.15891C7.48427 8.07132 7.41363 8.08954 7.38315 8.19149C7.3663 8.2479 7.35626 8.30816 7.3559 8.36702C7.35483 8.76432 7.34013 9.16266 7.36415 9.55891C7.37993 9.81957 7.45236 10.0767 7.50399 10.3619V10.3616ZM11.3711 14.8296C11.3689 14.8481 11.3664 14.8667 11.3642 14.8853C11.4657 14.9273 11.5665 14.9708 11.669 15.0111C12.1427 15.1971 12.6145 15.3971 13.1441 15.3274C13.2327 15.3159 13.3697 15.2801 13.389 15.2241C13.4249 15.12 13.3073 15.0591 13.2169 15.0132C12.9387 14.872 12.6328 14.846 12.3288 14.8331C12.0104 14.8194 11.6905 14.8299 11.3714 14.8299L11.3711 14.8296ZM4.51575 16.4577C3.89939 16.9755 3.30884 17.5133 2.93594 18.2374C3.65772 17.8125 4.07257 17.1219 4.51575 16.4577Z" fill="#FEFEFE"/>
                                    <path d="M7.4483 12.593C7.88825 13.3466 8.4078 13.992 9.11739 14.5224C8.07829 14.7256 7.09332 14.9708 6.10657 15.3226C6.60281 14.4264 7.07719 13.5579 7.4483 12.593Z" fill="#3C3C3C"/>
                                    <path d="M7.50396 10.3612C7.45232 10.0764 7.37954 9.81889 7.36412 9.55823C7.34045 9.16198 7.35479 8.76363 7.35587 8.36634C7.35587 8.30783 7.36627 8.24722 7.38312 8.19081C7.4136 8.08886 7.48388 8.07064 7.5477 8.15823C7.6065 8.23951 7.64487 8.33761 7.67929 8.43255C7.8116 8.79832 7.79869 9.1795 7.78292 9.55753C7.77216 9.81433 7.69005 10.0596 7.56993 10.2898C7.55917 10.3104 7.5373 10.3255 7.50396 10.3609V10.3612Z" fill="#3C3C3C"/>
                                    <path d="M11.3709 14.8297C11.6901 14.8297 12.0099 14.8192 12.3283 14.8328C12.6324 14.8458 12.9382 14.8721 13.2164 15.0129C13.3072 15.0588 13.4248 15.1198 13.3886 15.2238C13.3692 15.2799 13.2322 15.3156 13.1437 15.3272C12.6141 15.3969 12.1422 15.1968 11.6685 15.0108C11.5664 14.9705 11.4652 14.9271 11.3638 14.885C11.3659 14.8665 11.3684 14.8479 11.3706 14.8293L11.3709 14.8297Z" fill="#3C3C3C"/>
                                    <path d="M4.51536 16.4574C4.07254 17.1217 3.65733 17.8122 2.93555 18.2372C3.30845 17.513 3.89864 16.9749 4.51536 16.4574Z" fill="#3C3C3C"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_460_114">
                                        <rect width="16" height="21" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>

                        <div class="col-sm-2 download-elem ">
                            <span>Download a PDF</span>
                        </div>
                        <div class="col download-elem text-center disappear ">
                            <span class="font-light">Sicherheitsdaten</span>
                        </div>

                        <div class="col-sm-2 download-elem  text-end disappear">
                            <span class="font-light">PDF-129 KB(DE)</span>
                        </div>

                        <div class="col-sm-2 download-elem appear">
                            <span class="font-light">Sicherheitsdaten PDF-129 KB(DE)</span>
                        </div>

                        <div class="col-sm-1 download-elem text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M5 20H19V18H5M19 9H15V3H9V9H5L12 16L19 9Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="col-sm-1 download-elem text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19 13C19.7 13 20.37 13.13 21 13.35V9L15 3H5C3.89 3 3 3.89 3 5V19C3 20.11 3.9 21 5 21H13.35C13.13 20.37 13 19.7 13 19C13 15.69 15.69 13 19 13ZM14 4.5L19.5 10H14V4.5ZM23 18V20H20V23H18V20H15V18H18V15H20V18H23Z" fill="black"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="col-12 bg-light p-3 m-2 ">
                    <div class="d-flex justify-content-around align-items-center ">

                        <div class=" col-1 download-elem text-center disappear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" viewBox="0 0 16 21" fill="none">
                                <g clip-path="url(#clip0_460_114)">
                                    <path d="M0.505569 0C3.81902 0 7.13211 0 10.4456 0C10.4427 0.0476476 10.4369 0.0952953 10.4369 0.142943C10.4366 1.68694 10.4362 3.23128 10.4369 4.77528C10.4369 5.02893 10.433 5.28293 10.447 5.53589C10.4635 5.83508 10.7815 6.10696 11.072 6.10766C12.6658 6.11221 14.2599 6.11046 15.8537 6.11081C15.8975 6.11081 15.9412 6.11081 15.9914 6.11081C15.9943 6.1553 15.9982 6.18929 15.9982 6.22327C15.9982 10.8994 15.9982 15.5759 15.9989 20.252C15.9989 20.6857 15.6533 20.9996 15.2363 20.9993C10.6736 20.994 6.11129 20.9961 1.54862 20.9961C1.26213 20.9961 0.975282 20.9877 0.689151 20.9982C0.355332 21.0109 0.000358559 20.698 0.000358559 20.3168C0.00215136 16.1175 0.00107568 11.9179 0.00107568 7.71857C0.00143424 5.40065 0.00250992 3.08238 0 0.763764C0 0.521672 0.0588038 0.309009 0.25888 0.153804C0.334895 0.0949449 0.4231 0.0508008 0.505569 0ZM7.35513 7.74414C7.30278 7.74414 7.23967 7.73994 7.17764 7.74484C6.94996 7.76271 6.77534 7.85731 6.66526 8.06401C6.56307 8.25566 6.53726 8.46271 6.52758 8.66907C6.51718 8.88909 6.53152 9.11191 6.55232 9.33158C6.57849 9.60836 6.60467 9.88724 6.66239 10.1588C6.75347 10.5883 6.88004 11.0108 6.97076 11.4407C7.00159 11.5857 7.01414 11.7609 6.95928 11.8923C6.42001 13.1833 5.74305 14.4085 5.04852 15.6246C4.99939 15.7108 4.92804 15.799 4.84414 15.8491C4.61143 15.9886 4.3651 16.1056 4.12702 16.2363C3.73368 16.4521 3.36257 16.6984 3.02409 16.992C2.71752 17.2576 2.43211 17.5368 2.27793 17.9166C2.22414 18.0486 2.16677 18.1832 2.21912 18.3331C2.29012 18.5377 2.68812 18.7774 2.94808 18.7956C3.35361 18.824 3.67272 18.6442 3.95455 18.4011C4.36259 18.049 4.69713 17.6307 4.99187 17.184C5.22134 16.8361 5.44257 16.4833 5.66488 16.1308C5.72691 16.0327 5.80078 15.962 5.92053 15.9301C6.30455 15.8288 6.68534 15.7171 7.06864 15.6137C7.4021 15.524 7.7352 15.4298 8.07261 15.3566C8.552 15.2529 9.03391 15.1597 9.5176 15.0763C9.67322 15.0496 9.86433 15.0146 9.99234 15.0763C10.5814 15.3601 11.1785 15.6172 11.8131 15.7878C12.2075 15.894 12.6055 15.9746 13.0168 15.9553C13.2083 15.9462 13.403 15.9157 13.5457 15.7742C13.8271 15.4946 13.811 15.1421 13.7522 14.797C13.7124 14.5627 13.5019 14.4625 13.295 14.3808C12.9569 14.2473 12.5976 14.2165 12.2401 14.206C11.8931 14.1958 11.5445 14.2113 11.1971 14.2295C10.9658 14.2414 10.736 14.2792 10.5054 14.302C10.3516 14.3171 10.2107 14.3199 10.0583 14.2347C9.58967 13.9734 9.20673 13.6199 8.87291 13.2166C8.46595 12.7251 8.14396 12.181 7.92165 11.585C7.88616 11.4901 7.87325 11.3766 7.88652 11.2764C7.93528 10.9127 8.00484 10.5515 8.05647 10.1882C8.09197 9.93734 8.09591 9.68158 8.14073 9.43283C8.20133 9.0979 8.21818 8.76541 8.1644 8.43013C8.10524 8.05771 7.865 7.67653 7.35656 7.74344L7.35513 7.74414Z" fill="#3C3C3C"/>
                                    <path d="M12.8633 0C13.0616 0.215816 13.2598 0.431281 13.4578 0.647798C13.7471 0.964164 14.0351 1.28228 14.3255 1.59795C14.5155 1.80465 14.7095 2.00786 14.8999 2.21421C15.1132 2.44615 15.3234 2.68088 15.5371 2.91246C15.6622 3.04805 15.7963 3.17593 15.9171 3.31501C15.9587 3.36301 15.9935 3.43343 15.9953 3.49474C16.0032 3.79535 15.9989 4.09595 15.9989 4.4039C15.953 4.40636 15.9182 4.40951 15.8838 4.40951C14.5636 4.40951 13.2434 4.40951 11.9231 4.40951C11.8966 4.40951 11.8697 4.40636 11.8432 4.40495C11.8364 4.3976 11.8292 4.39059 11.8224 4.38323C11.8209 3.946 11.8184 3.50876 11.8181 3.07117C11.817 2.04745 11.8166 1.02407 11.8163 0.00035035C12.1655 0.00035035 12.5148 0.00035035 12.864 0.00035035L12.8633 0Z" fill="#3C3C3C"/>
                                    <path d="M7.35555 7.74409C7.86398 7.67683 8.10422 8.05836 8.16338 8.43078C8.2168 8.76607 8.19995 9.09855 8.13971 9.43348C8.09489 9.68223 8.09095 9.93799 8.05545 10.1888C8.00382 10.5522 7.93426 10.9134 7.8855 11.277C7.87223 11.3772 7.88514 11.4907 7.92063 11.5857C8.14294 12.1813 8.46493 12.7257 8.87189 13.2173C9.20571 13.6205 9.58865 13.9737 10.0573 14.2354C10.2097 14.3205 10.3506 14.3177 10.5044 14.3027C10.7353 14.2799 10.9648 14.242 11.1961 14.2301C11.5432 14.2123 11.8917 14.1965 12.2391 14.2067C12.5966 14.2172 12.9559 14.2476 13.294 14.3815C13.5009 14.4631 13.7114 14.5633 13.7512 14.7977C13.81 15.1428 13.8265 15.4952 13.5446 15.7748C13.4019 15.9164 13.2072 15.9468 13.0158 15.956C12.6045 15.9756 12.2069 15.8946 11.8121 15.7885C11.1774 15.6179 10.5804 15.3607 9.99132 15.0769C9.86331 15.0153 9.6722 15.0503 9.51658 15.0769C9.03289 15.16 8.55098 15.2532 8.07159 15.3572C7.73418 15.4304 7.40108 15.5247 7.06762 15.6144C6.68432 15.7177 6.30317 15.8295 5.91951 15.9307C5.79976 15.9623 5.72553 16.033 5.66386 16.1315C5.44156 16.4839 5.22032 16.8367 4.99085 17.1846C4.69611 17.6313 4.36193 18.0496 3.95353 18.4018C3.67171 18.6449 3.35259 18.8246 2.94706 18.7962C2.6871 18.778 2.28946 18.5384 2.21811 18.3338C2.16576 18.1838 2.22348 18.0493 2.27691 17.9172C2.43145 17.5374 2.71686 17.2586 3.02307 16.9926C3.36191 16.699 3.73302 16.4528 4.126 16.2369C4.36408 16.1063 4.61041 15.9889 4.84312 15.8498C4.92738 15.7993 4.99838 15.7114 5.0475 15.6252C5.74203 14.4095 6.41863 13.184 6.95826 11.8929C7.01312 11.7616 7.00057 11.5864 6.96974 11.4413C6.87902 11.0118 6.75245 10.5893 6.66137 10.1594C6.604 9.88789 6.57747 9.60901 6.5513 9.33223C6.5305 9.11221 6.51616 8.88974 6.52656 8.66972C6.53624 8.46336 6.56205 8.25631 6.66424 8.06467C6.77468 7.85796 6.94894 7.76336 7.17662 7.7455C7.23901 7.74059 7.30176 7.7448 7.35411 7.7448L7.35555 7.74409ZM7.44841 12.5929C7.0773 13.5578 6.60257 14.4263 6.10668 15.3225C7.09344 14.9708 8.0784 14.7255 9.11751 14.5223C8.40792 13.9919 7.88836 13.3465 7.44841 12.5929ZM7.50399 10.3616C7.53733 10.3262 7.55921 10.3111 7.56996 10.2904C7.69008 10.0599 7.77183 9.81502 7.78295 9.55821C7.79872 9.18018 7.81163 8.799 7.67932 8.43323C7.6449 8.33794 7.60654 8.23984 7.54773 8.15891C7.48427 8.07132 7.41363 8.08954 7.38315 8.19149C7.3663 8.2479 7.35626 8.30816 7.3559 8.36702C7.35483 8.76432 7.34013 9.16266 7.36415 9.55891C7.37993 9.81957 7.45236 10.0767 7.50399 10.3619V10.3616ZM11.3711 14.8296C11.3689 14.8481 11.3664 14.8667 11.3642 14.8853C11.4657 14.9273 11.5665 14.9708 11.669 15.0111C12.1427 15.1971 12.6145 15.3971 13.1441 15.3274C13.2327 15.3159 13.3697 15.2801 13.389 15.2241C13.4249 15.12 13.3073 15.0591 13.2169 15.0132C12.9387 14.872 12.6328 14.846 12.3288 14.8331C12.0104 14.8194 11.6905 14.8299 11.3714 14.8299L11.3711 14.8296ZM4.51575 16.4577C3.89939 16.9755 3.30884 17.5133 2.93594 18.2374C3.65772 17.8125 4.07257 17.1219 4.51575 16.4577Z" fill="#FEFEFE"/>
                                    <path d="M7.4483 12.593C7.88825 13.3466 8.4078 13.992 9.11739 14.5224C8.07829 14.7256 7.09332 14.9708 6.10657 15.3226C6.60281 14.4264 7.07719 13.5579 7.4483 12.593Z" fill="#3C3C3C"/>
                                    <path d="M7.50396 10.3612C7.45232 10.0764 7.37954 9.81889 7.36412 9.55823C7.34045 9.16198 7.35479 8.76363 7.35587 8.36634C7.35587 8.30783 7.36627 8.24722 7.38312 8.19081C7.4136 8.08886 7.48388 8.07064 7.5477 8.15823C7.6065 8.23951 7.64487 8.33761 7.67929 8.43255C7.8116 8.79832 7.79869 9.1795 7.78292 9.55753C7.77216 9.81433 7.69005 10.0596 7.56993 10.2898C7.55917 10.3104 7.5373 10.3255 7.50396 10.3609V10.3612Z" fill="#3C3C3C"/>
                                    <path d="M11.3709 14.8297C11.6901 14.8297 12.0099 14.8192 12.3283 14.8328C12.6324 14.8458 12.9382 14.8721 13.2164 15.0129C13.3072 15.0588 13.4248 15.1198 13.3886 15.2238C13.3692 15.2799 13.2322 15.3156 13.1437 15.3272C12.6141 15.3969 12.1422 15.1968 11.6685 15.0108C11.5664 14.9705 11.4652 14.9271 11.3638 14.885C11.3659 14.8665 11.3684 14.8479 11.3706 14.8293L11.3709 14.8297Z" fill="#3C3C3C"/>
                                    <path d="M4.51536 16.4574C4.07254 17.1217 3.65733 17.8122 2.93555 18.2372C3.30845 17.513 3.89864 16.9749 4.51536 16.4574Z" fill="#3C3C3C"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_460_114">
                                        <rect width="16" height="21" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>

                        <div class="col-sm-2 download-elem ">
                            <span>Download a PDF</span>
                        </div>
                        <div class="col download-elem text-center disappear ">
                            <span class="font-light">Sicherheitsdaten</span>
                        </div>

                        <div class="col-sm-2 download-elem  text-end disappear">
                            <span class="font-light">PDF-129 KB(DE)</span>
                        </div>

                        <div class="col-sm-2 download-elem appear">
                            <span class="font-light">Sicherheitsdaten PDF-129 KB(DE)</span>
                        </div>

                        <div class="col-sm-1 download-elem text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M5 20H19V18H5M19 9H15V3H9V9H5L12 16L19 9Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="col-sm-1 download-elem text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19 13C19.7 13 20.37 13.13 21 13.35V9L15 3H5C3.89 3 3 3.89 3 5V19C3 20.11 3.9 21 5 21H13.35C13.13 20.37 13 19.7 13 19C13 15.69 15.69 13 19 13ZM14 4.5L19.5 10H14V4.5ZM23 18V20H20V23H18V20H15V18H18V15H20V18H23Z" fill="black"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="col-12 bg-light p-3 m-2 ">
                    <div class="d-flex justify-content-around align-items-center ">

                        <div class=" col-1 download-elem text-center disappear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" viewBox="0 0 16 21" fill="none">
                                <g clip-path="url(#clip0_460_114)">
                                    <path d="M0.505569 0C3.81902 0 7.13211 0 10.4456 0C10.4427 0.0476476 10.4369 0.0952953 10.4369 0.142943C10.4366 1.68694 10.4362 3.23128 10.4369 4.77528C10.4369 5.02893 10.433 5.28293 10.447 5.53589C10.4635 5.83508 10.7815 6.10696 11.072 6.10766C12.6658 6.11221 14.2599 6.11046 15.8537 6.11081C15.8975 6.11081 15.9412 6.11081 15.9914 6.11081C15.9943 6.1553 15.9982 6.18929 15.9982 6.22327C15.9982 10.8994 15.9982 15.5759 15.9989 20.252C15.9989 20.6857 15.6533 20.9996 15.2363 20.9993C10.6736 20.994 6.11129 20.9961 1.54862 20.9961C1.26213 20.9961 0.975282 20.9877 0.689151 20.9982C0.355332 21.0109 0.000358559 20.698 0.000358559 20.3168C0.00215136 16.1175 0.00107568 11.9179 0.00107568 7.71857C0.00143424 5.40065 0.00250992 3.08238 0 0.763764C0 0.521672 0.0588038 0.309009 0.25888 0.153804C0.334895 0.0949449 0.4231 0.0508008 0.505569 0ZM7.35513 7.74414C7.30278 7.74414 7.23967 7.73994 7.17764 7.74484C6.94996 7.76271 6.77534 7.85731 6.66526 8.06401C6.56307 8.25566 6.53726 8.46271 6.52758 8.66907C6.51718 8.88909 6.53152 9.11191 6.55232 9.33158C6.57849 9.60836 6.60467 9.88724 6.66239 10.1588C6.75347 10.5883 6.88004 11.0108 6.97076 11.4407C7.00159 11.5857 7.01414 11.7609 6.95928 11.8923C6.42001 13.1833 5.74305 14.4085 5.04852 15.6246C4.99939 15.7108 4.92804 15.799 4.84414 15.8491C4.61143 15.9886 4.3651 16.1056 4.12702 16.2363C3.73368 16.4521 3.36257 16.6984 3.02409 16.992C2.71752 17.2576 2.43211 17.5368 2.27793 17.9166C2.22414 18.0486 2.16677 18.1832 2.21912 18.3331C2.29012 18.5377 2.68812 18.7774 2.94808 18.7956C3.35361 18.824 3.67272 18.6442 3.95455 18.4011C4.36259 18.049 4.69713 17.6307 4.99187 17.184C5.22134 16.8361 5.44257 16.4833 5.66488 16.1308C5.72691 16.0327 5.80078 15.962 5.92053 15.9301C6.30455 15.8288 6.68534 15.7171 7.06864 15.6137C7.4021 15.524 7.7352 15.4298 8.07261 15.3566C8.552 15.2529 9.03391 15.1597 9.5176 15.0763C9.67322 15.0496 9.86433 15.0146 9.99234 15.0763C10.5814 15.3601 11.1785 15.6172 11.8131 15.7878C12.2075 15.894 12.6055 15.9746 13.0168 15.9553C13.2083 15.9462 13.403 15.9157 13.5457 15.7742C13.8271 15.4946 13.811 15.1421 13.7522 14.797C13.7124 14.5627 13.5019 14.4625 13.295 14.3808C12.9569 14.2473 12.5976 14.2165 12.2401 14.206C11.8931 14.1958 11.5445 14.2113 11.1971 14.2295C10.9658 14.2414 10.736 14.2792 10.5054 14.302C10.3516 14.3171 10.2107 14.3199 10.0583 14.2347C9.58967 13.9734 9.20673 13.6199 8.87291 13.2166C8.46595 12.7251 8.14396 12.181 7.92165 11.585C7.88616 11.4901 7.87325 11.3766 7.88652 11.2764C7.93528 10.9127 8.00484 10.5515 8.05647 10.1882C8.09197 9.93734 8.09591 9.68158 8.14073 9.43283C8.20133 9.0979 8.21818 8.76541 8.1644 8.43013C8.10524 8.05771 7.865 7.67653 7.35656 7.74344L7.35513 7.74414Z" fill="#3C3C3C"/>
                                    <path d="M12.8633 0C13.0616 0.215816 13.2598 0.431281 13.4578 0.647798C13.7471 0.964164 14.0351 1.28228 14.3255 1.59795C14.5155 1.80465 14.7095 2.00786 14.8999 2.21421C15.1132 2.44615 15.3234 2.68088 15.5371 2.91246C15.6622 3.04805 15.7963 3.17593 15.9171 3.31501C15.9587 3.36301 15.9935 3.43343 15.9953 3.49474C16.0032 3.79535 15.9989 4.09595 15.9989 4.4039C15.953 4.40636 15.9182 4.40951 15.8838 4.40951C14.5636 4.40951 13.2434 4.40951 11.9231 4.40951C11.8966 4.40951 11.8697 4.40636 11.8432 4.40495C11.8364 4.3976 11.8292 4.39059 11.8224 4.38323C11.8209 3.946 11.8184 3.50876 11.8181 3.07117C11.817 2.04745 11.8166 1.02407 11.8163 0.00035035C12.1655 0.00035035 12.5148 0.00035035 12.864 0.00035035L12.8633 0Z" fill="#3C3C3C"/>
                                    <path d="M7.35555 7.74409C7.86398 7.67683 8.10422 8.05836 8.16338 8.43078C8.2168 8.76607 8.19995 9.09855 8.13971 9.43348C8.09489 9.68223 8.09095 9.93799 8.05545 10.1888C8.00382 10.5522 7.93426 10.9134 7.8855 11.277C7.87223 11.3772 7.88514 11.4907 7.92063 11.5857C8.14294 12.1813 8.46493 12.7257 8.87189 13.2173C9.20571 13.6205 9.58865 13.9737 10.0573 14.2354C10.2097 14.3205 10.3506 14.3177 10.5044 14.3027C10.7353 14.2799 10.9648 14.242 11.1961 14.2301C11.5432 14.2123 11.8917 14.1965 12.2391 14.2067C12.5966 14.2172 12.9559 14.2476 13.294 14.3815C13.5009 14.4631 13.7114 14.5633 13.7512 14.7977C13.81 15.1428 13.8265 15.4952 13.5446 15.7748C13.4019 15.9164 13.2072 15.9468 13.0158 15.956C12.6045 15.9756 12.2069 15.8946 11.8121 15.7885C11.1774 15.6179 10.5804 15.3607 9.99132 15.0769C9.86331 15.0153 9.6722 15.0503 9.51658 15.0769C9.03289 15.16 8.55098 15.2532 8.07159 15.3572C7.73418 15.4304 7.40108 15.5247 7.06762 15.6144C6.68432 15.7177 6.30317 15.8295 5.91951 15.9307C5.79976 15.9623 5.72553 16.033 5.66386 16.1315C5.44156 16.4839 5.22032 16.8367 4.99085 17.1846C4.69611 17.6313 4.36193 18.0496 3.95353 18.4018C3.67171 18.6449 3.35259 18.8246 2.94706 18.7962C2.6871 18.778 2.28946 18.5384 2.21811 18.3338C2.16576 18.1838 2.22348 18.0493 2.27691 17.9172C2.43145 17.5374 2.71686 17.2586 3.02307 16.9926C3.36191 16.699 3.73302 16.4528 4.126 16.2369C4.36408 16.1063 4.61041 15.9889 4.84312 15.8498C4.92738 15.7993 4.99838 15.7114 5.0475 15.6252C5.74203 14.4095 6.41863 13.184 6.95826 11.8929C7.01312 11.7616 7.00057 11.5864 6.96974 11.4413C6.87902 11.0118 6.75245 10.5893 6.66137 10.1594C6.604 9.88789 6.57747 9.60901 6.5513 9.33223C6.5305 9.11221 6.51616 8.88974 6.52656 8.66972C6.53624 8.46336 6.56205 8.25631 6.66424 8.06467C6.77468 7.85796 6.94894 7.76336 7.17662 7.7455C7.23901 7.74059 7.30176 7.7448 7.35411 7.7448L7.35555 7.74409ZM7.44841 12.5929C7.0773 13.5578 6.60257 14.4263 6.10668 15.3225C7.09344 14.9708 8.0784 14.7255 9.11751 14.5223C8.40792 13.9919 7.88836 13.3465 7.44841 12.5929ZM7.50399 10.3616C7.53733 10.3262 7.55921 10.3111 7.56996 10.2904C7.69008 10.0599 7.77183 9.81502 7.78295 9.55821C7.79872 9.18018 7.81163 8.799 7.67932 8.43323C7.6449 8.33794 7.60654 8.23984 7.54773 8.15891C7.48427 8.07132 7.41363 8.08954 7.38315 8.19149C7.3663 8.2479 7.35626 8.30816 7.3559 8.36702C7.35483 8.76432 7.34013 9.16266 7.36415 9.55891C7.37993 9.81957 7.45236 10.0767 7.50399 10.3619V10.3616ZM11.3711 14.8296C11.3689 14.8481 11.3664 14.8667 11.3642 14.8853C11.4657 14.9273 11.5665 14.9708 11.669 15.0111C12.1427 15.1971 12.6145 15.3971 13.1441 15.3274C13.2327 15.3159 13.3697 15.2801 13.389 15.2241C13.4249 15.12 13.3073 15.0591 13.2169 15.0132C12.9387 14.872 12.6328 14.846 12.3288 14.8331C12.0104 14.8194 11.6905 14.8299 11.3714 14.8299L11.3711 14.8296ZM4.51575 16.4577C3.89939 16.9755 3.30884 17.5133 2.93594 18.2374C3.65772 17.8125 4.07257 17.1219 4.51575 16.4577Z" fill="#FEFEFE"/>
                                    <path d="M7.4483 12.593C7.88825 13.3466 8.4078 13.992 9.11739 14.5224C8.07829 14.7256 7.09332 14.9708 6.10657 15.3226C6.60281 14.4264 7.07719 13.5579 7.4483 12.593Z" fill="#3C3C3C"/>
                                    <path d="M7.50396 10.3612C7.45232 10.0764 7.37954 9.81889 7.36412 9.55823C7.34045 9.16198 7.35479 8.76363 7.35587 8.36634C7.35587 8.30783 7.36627 8.24722 7.38312 8.19081C7.4136 8.08886 7.48388 8.07064 7.5477 8.15823C7.6065 8.23951 7.64487 8.33761 7.67929 8.43255C7.8116 8.79832 7.79869 9.1795 7.78292 9.55753C7.77216 9.81433 7.69005 10.0596 7.56993 10.2898C7.55917 10.3104 7.5373 10.3255 7.50396 10.3609V10.3612Z" fill="#3C3C3C"/>
                                    <path d="M11.3709 14.8297C11.6901 14.8297 12.0099 14.8192 12.3283 14.8328C12.6324 14.8458 12.9382 14.8721 13.2164 15.0129C13.3072 15.0588 13.4248 15.1198 13.3886 15.2238C13.3692 15.2799 13.2322 15.3156 13.1437 15.3272C12.6141 15.3969 12.1422 15.1968 11.6685 15.0108C11.5664 14.9705 11.4652 14.9271 11.3638 14.885C11.3659 14.8665 11.3684 14.8479 11.3706 14.8293L11.3709 14.8297Z" fill="#3C3C3C"/>
                                    <path d="M4.51536 16.4574C4.07254 17.1217 3.65733 17.8122 2.93555 18.2372C3.30845 17.513 3.89864 16.9749 4.51536 16.4574Z" fill="#3C3C3C"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_460_114">
                                        <rect width="16" height="21" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>

                        <div class="col-sm-2 download-elem ">
                            <span>Download a PDF</span>
                        </div>
                        <div class="col download-elem text-center disappear ">
                            <span class="font-light">Sicherheitsdaten</span>
                        </div>

                        <div class="col-sm-2 download-elem  text-end disappear">
                            <span class="font-light">PDF-129 KB(DE)</span>
                        </div>

                        <div class="col-sm-2 download-elem appear">
                            <span class="font-light">Sicherheitsdaten PDF-129 KB(DE)</span>
                        </div>

                        <div class="col-sm-1 download-elem text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M5 20H19V18H5M19 9H15V3H9V9H5L12 16L19 9Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="col-sm-1 download-elem text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19 13C19.7 13 20.37 13.13 21 13.35V9L15 3H5C3.89 3 3 3.89 3 5V19C3 20.11 3.9 21 5 21H13.35C13.13 20.37 13 19.7 13 19C13 15.69 15.69 13 19 13ZM14 4.5L19.5 10H14V4.5ZM23 18V20H20V23H18V20H15V18H18V15H20V18H23Z" fill="black"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="col-12 bg-light p-3 m-2 ">
                    <div class="d-flex justify-content-around align-items-center ">

                        <div class=" col-1 download-elem text-center disappear">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" viewBox="0 0 16 21" fill="none">
                                <g clip-path="url(#clip0_460_114)">
                                    <path d="M0.505569 0C3.81902 0 7.13211 0 10.4456 0C10.4427 0.0476476 10.4369 0.0952953 10.4369 0.142943C10.4366 1.68694 10.4362 3.23128 10.4369 4.77528C10.4369 5.02893 10.433 5.28293 10.447 5.53589C10.4635 5.83508 10.7815 6.10696 11.072 6.10766C12.6658 6.11221 14.2599 6.11046 15.8537 6.11081C15.8975 6.11081 15.9412 6.11081 15.9914 6.11081C15.9943 6.1553 15.9982 6.18929 15.9982 6.22327C15.9982 10.8994 15.9982 15.5759 15.9989 20.252C15.9989 20.6857 15.6533 20.9996 15.2363 20.9993C10.6736 20.994 6.11129 20.9961 1.54862 20.9961C1.26213 20.9961 0.975282 20.9877 0.689151 20.9982C0.355332 21.0109 0.000358559 20.698 0.000358559 20.3168C0.00215136 16.1175 0.00107568 11.9179 0.00107568 7.71857C0.00143424 5.40065 0.00250992 3.08238 0 0.763764C0 0.521672 0.0588038 0.309009 0.25888 0.153804C0.334895 0.0949449 0.4231 0.0508008 0.505569 0ZM7.35513 7.74414C7.30278 7.74414 7.23967 7.73994 7.17764 7.74484C6.94996 7.76271 6.77534 7.85731 6.66526 8.06401C6.56307 8.25566 6.53726 8.46271 6.52758 8.66907C6.51718 8.88909 6.53152 9.11191 6.55232 9.33158C6.57849 9.60836 6.60467 9.88724 6.66239 10.1588C6.75347 10.5883 6.88004 11.0108 6.97076 11.4407C7.00159 11.5857 7.01414 11.7609 6.95928 11.8923C6.42001 13.1833 5.74305 14.4085 5.04852 15.6246C4.99939 15.7108 4.92804 15.799 4.84414 15.8491C4.61143 15.9886 4.3651 16.1056 4.12702 16.2363C3.73368 16.4521 3.36257 16.6984 3.02409 16.992C2.71752 17.2576 2.43211 17.5368 2.27793 17.9166C2.22414 18.0486 2.16677 18.1832 2.21912 18.3331C2.29012 18.5377 2.68812 18.7774 2.94808 18.7956C3.35361 18.824 3.67272 18.6442 3.95455 18.4011C4.36259 18.049 4.69713 17.6307 4.99187 17.184C5.22134 16.8361 5.44257 16.4833 5.66488 16.1308C5.72691 16.0327 5.80078 15.962 5.92053 15.9301C6.30455 15.8288 6.68534 15.7171 7.06864 15.6137C7.4021 15.524 7.7352 15.4298 8.07261 15.3566C8.552 15.2529 9.03391 15.1597 9.5176 15.0763C9.67322 15.0496 9.86433 15.0146 9.99234 15.0763C10.5814 15.3601 11.1785 15.6172 11.8131 15.7878C12.2075 15.894 12.6055 15.9746 13.0168 15.9553C13.2083 15.9462 13.403 15.9157 13.5457 15.7742C13.8271 15.4946 13.811 15.1421 13.7522 14.797C13.7124 14.5627 13.5019 14.4625 13.295 14.3808C12.9569 14.2473 12.5976 14.2165 12.2401 14.206C11.8931 14.1958 11.5445 14.2113 11.1971 14.2295C10.9658 14.2414 10.736 14.2792 10.5054 14.302C10.3516 14.3171 10.2107 14.3199 10.0583 14.2347C9.58967 13.9734 9.20673 13.6199 8.87291 13.2166C8.46595 12.7251 8.14396 12.181 7.92165 11.585C7.88616 11.4901 7.87325 11.3766 7.88652 11.2764C7.93528 10.9127 8.00484 10.5515 8.05647 10.1882C8.09197 9.93734 8.09591 9.68158 8.14073 9.43283C8.20133 9.0979 8.21818 8.76541 8.1644 8.43013C8.10524 8.05771 7.865 7.67653 7.35656 7.74344L7.35513 7.74414Z" fill="#3C3C3C"/>
                                    <path d="M12.8633 0C13.0616 0.215816 13.2598 0.431281 13.4578 0.647798C13.7471 0.964164 14.0351 1.28228 14.3255 1.59795C14.5155 1.80465 14.7095 2.00786 14.8999 2.21421C15.1132 2.44615 15.3234 2.68088 15.5371 2.91246C15.6622 3.04805 15.7963 3.17593 15.9171 3.31501C15.9587 3.36301 15.9935 3.43343 15.9953 3.49474C16.0032 3.79535 15.9989 4.09595 15.9989 4.4039C15.953 4.40636 15.9182 4.40951 15.8838 4.40951C14.5636 4.40951 13.2434 4.40951 11.9231 4.40951C11.8966 4.40951 11.8697 4.40636 11.8432 4.40495C11.8364 4.3976 11.8292 4.39059 11.8224 4.38323C11.8209 3.946 11.8184 3.50876 11.8181 3.07117C11.817 2.04745 11.8166 1.02407 11.8163 0.00035035C12.1655 0.00035035 12.5148 0.00035035 12.864 0.00035035L12.8633 0Z" fill="#3C3C3C"/>
                                    <path d="M7.35555 7.74409C7.86398 7.67683 8.10422 8.05836 8.16338 8.43078C8.2168 8.76607 8.19995 9.09855 8.13971 9.43348C8.09489 9.68223 8.09095 9.93799 8.05545 10.1888C8.00382 10.5522 7.93426 10.9134 7.8855 11.277C7.87223 11.3772 7.88514 11.4907 7.92063 11.5857C8.14294 12.1813 8.46493 12.7257 8.87189 13.2173C9.20571 13.6205 9.58865 13.9737 10.0573 14.2354C10.2097 14.3205 10.3506 14.3177 10.5044 14.3027C10.7353 14.2799 10.9648 14.242 11.1961 14.2301C11.5432 14.2123 11.8917 14.1965 12.2391 14.2067C12.5966 14.2172 12.9559 14.2476 13.294 14.3815C13.5009 14.4631 13.7114 14.5633 13.7512 14.7977C13.81 15.1428 13.8265 15.4952 13.5446 15.7748C13.4019 15.9164 13.2072 15.9468 13.0158 15.956C12.6045 15.9756 12.2069 15.8946 11.8121 15.7885C11.1774 15.6179 10.5804 15.3607 9.99132 15.0769C9.86331 15.0153 9.6722 15.0503 9.51658 15.0769C9.03289 15.16 8.55098 15.2532 8.07159 15.3572C7.73418 15.4304 7.40108 15.5247 7.06762 15.6144C6.68432 15.7177 6.30317 15.8295 5.91951 15.9307C5.79976 15.9623 5.72553 16.033 5.66386 16.1315C5.44156 16.4839 5.22032 16.8367 4.99085 17.1846C4.69611 17.6313 4.36193 18.0496 3.95353 18.4018C3.67171 18.6449 3.35259 18.8246 2.94706 18.7962C2.6871 18.778 2.28946 18.5384 2.21811 18.3338C2.16576 18.1838 2.22348 18.0493 2.27691 17.9172C2.43145 17.5374 2.71686 17.2586 3.02307 16.9926C3.36191 16.699 3.73302 16.4528 4.126 16.2369C4.36408 16.1063 4.61041 15.9889 4.84312 15.8498C4.92738 15.7993 4.99838 15.7114 5.0475 15.6252C5.74203 14.4095 6.41863 13.184 6.95826 11.8929C7.01312 11.7616 7.00057 11.5864 6.96974 11.4413C6.87902 11.0118 6.75245 10.5893 6.66137 10.1594C6.604 9.88789 6.57747 9.60901 6.5513 9.33223C6.5305 9.11221 6.51616 8.88974 6.52656 8.66972C6.53624 8.46336 6.56205 8.25631 6.66424 8.06467C6.77468 7.85796 6.94894 7.76336 7.17662 7.7455C7.23901 7.74059 7.30176 7.7448 7.35411 7.7448L7.35555 7.74409ZM7.44841 12.5929C7.0773 13.5578 6.60257 14.4263 6.10668 15.3225C7.09344 14.9708 8.0784 14.7255 9.11751 14.5223C8.40792 13.9919 7.88836 13.3465 7.44841 12.5929ZM7.50399 10.3616C7.53733 10.3262 7.55921 10.3111 7.56996 10.2904C7.69008 10.0599 7.77183 9.81502 7.78295 9.55821C7.79872 9.18018 7.81163 8.799 7.67932 8.43323C7.6449 8.33794 7.60654 8.23984 7.54773 8.15891C7.48427 8.07132 7.41363 8.08954 7.38315 8.19149C7.3663 8.2479 7.35626 8.30816 7.3559 8.36702C7.35483 8.76432 7.34013 9.16266 7.36415 9.55891C7.37993 9.81957 7.45236 10.0767 7.50399 10.3619V10.3616ZM11.3711 14.8296C11.3689 14.8481 11.3664 14.8667 11.3642 14.8853C11.4657 14.9273 11.5665 14.9708 11.669 15.0111C12.1427 15.1971 12.6145 15.3971 13.1441 15.3274C13.2327 15.3159 13.3697 15.2801 13.389 15.2241C13.4249 15.12 13.3073 15.0591 13.2169 15.0132C12.9387 14.872 12.6328 14.846 12.3288 14.8331C12.0104 14.8194 11.6905 14.8299 11.3714 14.8299L11.3711 14.8296ZM4.51575 16.4577C3.89939 16.9755 3.30884 17.5133 2.93594 18.2374C3.65772 17.8125 4.07257 17.1219 4.51575 16.4577Z" fill="#FEFEFE"/>
                                    <path d="M7.4483 12.593C7.88825 13.3466 8.4078 13.992 9.11739 14.5224C8.07829 14.7256 7.09332 14.9708 6.10657 15.3226C6.60281 14.4264 7.07719 13.5579 7.4483 12.593Z" fill="#3C3C3C"/>
                                    <path d="M7.50396 10.3612C7.45232 10.0764 7.37954 9.81889 7.36412 9.55823C7.34045 9.16198 7.35479 8.76363 7.35587 8.36634C7.35587 8.30783 7.36627 8.24722 7.38312 8.19081C7.4136 8.08886 7.48388 8.07064 7.5477 8.15823C7.6065 8.23951 7.64487 8.33761 7.67929 8.43255C7.8116 8.79832 7.79869 9.1795 7.78292 9.55753C7.77216 9.81433 7.69005 10.0596 7.56993 10.2898C7.55917 10.3104 7.5373 10.3255 7.50396 10.3609V10.3612Z" fill="#3C3C3C"/>
                                    <path d="M11.3709 14.8297C11.6901 14.8297 12.0099 14.8192 12.3283 14.8328C12.6324 14.8458 12.9382 14.8721 13.2164 15.0129C13.3072 15.0588 13.4248 15.1198 13.3886 15.2238C13.3692 15.2799 13.2322 15.3156 13.1437 15.3272C12.6141 15.3969 12.1422 15.1968 11.6685 15.0108C11.5664 14.9705 11.4652 14.9271 11.3638 14.885C11.3659 14.8665 11.3684 14.8479 11.3706 14.8293L11.3709 14.8297Z" fill="#3C3C3C"/>
                                    <path d="M4.51536 16.4574C4.07254 17.1217 3.65733 17.8122 2.93555 18.2372C3.30845 17.513 3.89864 16.9749 4.51536 16.4574Z" fill="#3C3C3C"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_460_114">
                                        <rect width="16" height="21" fill="white"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>

                        <div class="col-sm-2 download-elem ">
                            <span>Download a PDF</span>
                        </div>
                        <div class="col download-elem text-center disappear ">
                            <span class="font-light">Sicherheitsdaten</span>
                        </div>

                        <div class="col-sm-2 download-elem  text-end disappear">
                            <span class="font-light">PDF-129 KB(DE)</span>
                        </div>

                        <div class="col-sm-2 download-elem appear">
                            <span class="font-light">Sicherheitsdaten PDF-129 KB(DE)</span>
                        </div>

                        <div class="col-sm-1 download-elem text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M5 20H19V18H5M19 9H15V3H9V9H5L12 16L19 9Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="col-sm-1 download-elem text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19 13C19.7 13 20.37 13.13 21 13.35V9L15 3H5C3.89 3 3 3.89 3 5V19C3 20.11 3.9 21 5 21H13.35C13.13 20.37 13 19.7 13 19C13 15.69 15.69 13 19 13ZM14 4.5L19.5 10H14V4.5ZM23 18V20H20V23H18V20H15V18H18V15H20V18H23Z" fill="black"/>
                            </svg>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


